# Data transformation

This jupyter notebook contains open source code for transforming a data from the Australian Bureau of Statistics (ABS). The ABS data “Education and Employment, ASGS and LGA, 2011, 2014-19” is originally from “1410.0 - Data by Region, 2014-19” collection [1] by the ABS. This data collection contains information about the education and employment in Australia between 2014 and 2019. The ABS (https://www.abs.gov.au) is a national statistical agency in Australia, and provides a wide range of statistical data collections on economic, population, environmental, and social issues.

### Import library

In [1]:
import pandas as pd

In [2]:
input_file = '14100do0005_2014-19.xlsx'
output_file = 'generated_data/transformed_data.csv'

### Read data file

In [3]:
df = pd.read_excel(input_file, sheet_name = 'Table 1', skiprows=6, header=0, index_col=0)
df = df.dropna(subset=['Year'], how='all') # drop rows where it contains null

### Extract and transform the data

In [4]:
# define columns, rows and year to extract
selected_columns = [
    'Label', 
    'Year',
    'Completed Year 8 or below (%)',
    'Completed Year 9 or equivalent (%)',
    'Completed Year 12 or equivalent (%)',
    'Completed Year 11 or equivalent (%)',
    'Completed Year 10 or equivalent (%)',
    'Did not go to school (%)',
    'Highest Year of School Completed - Not stated (%)',
    ]
selected_rows = [
    'Australia',
    'New South Wales', 
    'Victoria',
    'Queensland',
    'South Australia',
    'Western Australia',
    'Tasmania',
    'Northern Territory',
    'Australian Capital Territory'
]
selected_year = 2016

In [5]:
extracted_df = pd.DataFrame(columns=['Label'])
df = df[selected_columns] # extract data by columns
for index, row in df.iterrows():
    if row['Label'] in selected_rows and row['Year'] == selected_year: # extract data by rows and year
        extracted_df = extracted_df.append(row)    

extracted_df.Year = extracted_df.Year.astype(int) # convert data type to int
extracted_df = extracted_df.drop_duplicates(subset=['Label', 'Year'])# remove duplications

### Save the result

In [6]:
extracted_df.to_csv(output_file, sep=',', encoding='utf-8', index=False)

In [7]:
# view the transformed data
extracted_df

,Label,Completed Year 10 or equivalent (%),Completed Year 11 or equivalent (%),Completed Year 12 or equivalent (%),Completed Year 8 or below (%),Completed Year 9 or equivalent (%),Did not go to school (%),Highest Year of School Completed - Not stated (%),Year
0,Australia,19.2,9.1,51.9,4.8,5.6,0.9,8.6,2016
1,New South Wales,21.6,5.8,52.1,4.6,6.3,1.0,8.5,2016
2,Victoria,13.2,11.6,54.4,5.6,5.8,1.1,8.2,2016
3,Queensland,22.7,7.8,50.5,4.8,4.8,0.5,9.0,2016
4,South Australia,15.8,17.4,47.4,5.4,5.4,0.9,7.6,2016
5,Western Australia,20.6,10.0,51.7,3.2,4.5,0.6,9.4,2016
6,Tasmania,30.5,8.7,38.3,4.9,8.2,0.4,8.9,2016
7,Northern Territory,17.3,11.5,42.9,5.9,5.4,1.2,15.8,2016
8,Australian Capital Territory,12.9,4.8,69.4,2.4,3.4,0.4,6.7,2016

## Conclusion

We use python code to transform the ABS data into a required format for data insight generation. The transformed data contains the highest year of school completed in Australia national and state level in 2016.

## References

[1] Australian Bureau of Statistics, 1410.0 - Data by Region, 2014-19, Population and People, ASGS and LGA, 2011, 2014-2019, Australian Bureau of Statistics, 2020. [Dataset] Available:https://www.abs.gov.au/AUSSTATS/abs@.nsf/DetailsPage/1410.02014-19?OpenDocument. [Accessed: January 4, 2021].